.swiper-pagination {
    position: absolute;
    bottom: 10% !important; /* ან შენი სასურველი მდებარეობა */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 11111;
    
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #afafaf !important;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #ffffff !important; /* აქტიური წერტილის ფერი */
    opacity: 1;
}